.card-pizza-size {
  font-weight: 700;
  color: #444;
  font-size: 25px;
  text-transform: capitalize;
}

.card-pizza-price {
  font-weight: 400;
  color: #444;
  font-size: 11px;
  float: right;
  margin-top: 6px;
}

.card-topping {
  font-weight: 700;
  color: #444;
  font-size: 13px;
  margin-left: 15px;
}

.topping-select-counter {
  padding: 10px;
  font-size: 12px;
  color: #8f8f8f;
  span {
    float: right;
  }
}

.size-total-value {
  padding: 5px 15px 20px;
  font-size: 13px;
  font-weight: 600;
  color: #444444;
  span {
    float: right;
  }
}

.card-info {
  font-weight: 400;
  color: #444444;
  font-size: 13px;
  text-transform: capitalize;
}

.topping-price {
  float: right;
  margin-top: 1px;
  font-size: 11px;
}

.btn-add-to-cart {
  background-color: #8f8f8f;
  color: white;
  font-weight: 600;
  border-radius: 3px;
  font-size: 12px;
  letter-spacing: 1px;
  padding: 5px 10px;
  cursor: pointer;
  &:hover {
    background-color: #2b8ce3;
  }
}

.logo {
  width: 34px;
  height: 34px;
  float: left;
  margin-left: 10px;
  i {
    font-size: 34px;
    color: $primary-color;
  }
}

.option-list {
  list-style-type: none;
  padding: 10px 0 0;
  margin-bottom: 0;
  li {
    padding: 3px 15px;
  }
}

.form-container {
  background-color: rgba(255, 255, 255, 0.07);
  border-radius: 3px;
  width: 100%;
  position: relative;
  padding-bottom: 10px;
}

.card-container {
  width: 100%;
  min-height: 100px;
  margin-bottom: 20px;
  .card {
    position: relative;
    width: 100%;
    background-color: white;
    border-radius: 3px;
    margin-top: 8px;
    .pizza-card-header {
      padding: 4px 13px 12px;
    }
    .pizza-card-footer {
      padding: 0 0 15px 0;
      text-align: center;
    }
  }
}

.pizza-cart-title {
  font-size: 20px;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.5);
  margin: 8px;
}

.empty-cart {
  box-sizing: border-box;
  width: 100%;
  padding: 10px;
  text-align: center;
  font-size: 13px;
  background-color: rgba(255, 255, 255, 0.2);
}

.cart-list {
  list-style-type: none;
  padding-left: 5px;
  text-transform: capitalize;
  > li {
    padding: 5px;
    .cart-pizza-price {
      float: right;
      margin-right: 5px;
    }
    .cart-pizza-delete {
      display: block;
      width: 16px;
      height: 16px;
      float: right;
      margin: 8px 0 0 3px;
      i {
        font-size: 10px;
        &:hover {
          color: red;
          cursor: pointer;
        }
      }
    }
    .cart-list-toppings {
      padding-left: 30px;
      color: rgba(255, 255, 255, 0.7);
      font-size: 12px;
    }
  }
}
.cart-list-total {
  font-size: 20px;
  padding: 10px;
  font-weight: 600;
  .cart-list-total-price {
    float: right;
  }
}
