.spotify-embeds {
    width: 100%; 
  }
  
  .spotify-embed {
    &:not(:last-of-type) {
      margin-bottom: 5px;
    }
    
    iframe {
      display: block;
      border: none;
      transition: opacity 0.125s;
      .js & {
        opacity: 0;
        
        &.loaded {
          opacity: 1;
        }
      }
    }
  }